*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fdfdfd;
}/*então o id menu é o titulo principal onde */
#menu{
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
#menu h1{
    position: relative;
    left: 10px;
    top: 23px;
    font-family: "Oswald";
    padding-bottom: 15px;
}
@font-face {
    font-family:"Oswald";
    src: url(Formatação_de_texto/Oswald/Oswald-VariableFont_wght.ttf);
}
.texto{
    margin-left: 30px;
    margin-right: 30px;
}
